* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-blue: rgba(13, 193, 242, 1);
}

body {
  background-color: var(--light-blue);
  font-family: 'Montserrat', sans-serif;

  background: rgba(13, 193, 242, 1);
  background: -webkit-radial-gradient(
    center,
    rgba(13, 193, 242, 1),
    rgba(72, 186, 184, 1)
  );
  color: white;
}

.title {
  height: 160px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  font-size: 5vw;
}

.core {
  width: 80vw;
  height: 40vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  border: 3px solid white;
  border-radius: 20px;
}

.coreInfo {
  display: flex;
  width: 49%;
  height: 99%;

  flex-wrap: wrap;
  border-right: 3px solid white;
}

.photoBox {
  width: 49%;
  height: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  width: 70%;
  height: 70%;
  object-fit: contain;
  transition: 0.4s;
}

.temp {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
  font-size: 11vw;
}

.temperature {
  transition: 0.4s;
}

.cityName {
  width: 100%;
  height: 49%;
}

.info-cityName {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.actuallyCityName {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border-top: 3px solid white;
  flex-wrap: wrap;
}

.nameInfo {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
}

.city {
  display: flex;
  width: 70%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  transition: 0.4s;
}

.inputBox {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: space-around;
}

.inputText {
  width: 40%;
  height: 40%;
  background: transparent;
  border: none;
  font-size: 3vw;
  color: white;
}

.inputText:focus {
  background: transparent;
  outline: none;
  border-bottom: 2px solid white;
  transition: 0.4s;
}

.inputText::placeholder {
  font-size: 1.5vw;
}

button {
  width: 30%;
  height: 40%;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  font-size: 2vw;
  color: white;
}

button:hover {
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  transition: 0.2s;
}

.warning {
  width: 40%;
  height: 10%;
  font-size: 1.5vw;
  color: red;
}

.bottom {
  width: 80vw;
  height: 15vh;
  display: flex;
  margin-top: 8vh;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid white;
  justify-content: space-between;
  align-items: center;
}

.bottomCore {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2.4vw;
  color: white;
}

.feelsLike {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.7vw;
  color: white;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.table {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-size: 1.7vw;
  color: white;
}
